.gameboard {
  padding: 1em;
  background-color: #fff;
  box-shadow: -0.1em 0.1em 5px rgba(0, 0, 0, 0.3);
  grid-area: board;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.spot {
  position: relative;
}

.spot:hover {
  background-color: rgba(224, 224, 224, 0.199);
  cursor: pointer;
}

.spot {
  border-right: 10px solid;
  border-bottom: 10px solid;
}

.spot:nth-of-type(3n) {
  border-right: none;
}

.spot:nth-last-child(1) {
  border-bottom: none;
}

.spot:nth-last-child(2) {
  border-bottom: none;
}
.spot:nth-last-child(3) {
  border-bottom: none;
}

.spot h1 {
  font-size: 10em;
  position: absolute;
  display: grid;
  pointer-events: none;
  inset: 0;
  place-content: center;
}

@media (max-width: 600px) {
  .spot h1 {
    font-size: 6em;
  }
}
