.main_heading {
  /* grid-row: 1;
  grid-column: 1/4; */
  text-align: center;
  align-self: center;
  grid-area: heading;
}

.playercard_one {
  grid-area: one;
}

.playercard_two {
  grid-area: two;
}
